<ul class="pagination">
    <li *ngIf="minPage != 1" class="pre-page">
        <a (click)="previousPage()" aria-label="Previous"> <span aria-hidden="true">&laquo;</span> </a>
    </li>
    <li *ngFor="let pageNo of pageList" [ngClass]="{'active':currentpage == pageNo, 'ellipsis': pageNo == -1}">
        <a (click)="goToPage(pageNo)">{{pageNo == -1 ? "..." : pageNo}}</a>
    </li>
    <li *ngIf="!isMaxPage" class="next-page">
        <a (click)="nextPage()" aria-label="Next"> <span aria-hidden="true">&raquo;</span> </a>
    </li>
</ul>
