<h1 class="content-title">考核角色管理</h1>
<table class="slds-table mgt30">
    <tr>
        <th style="width: 70px">序号</th>
        <th>名称</th>
        <th>内容</th>
    </tr>
    <tr *ngFor="let d of datas; let i = index">
        <td>{{i+1}}</td>
        <td>
            <font class="color-neutral">{{d.name}}</font>
        </td>
        <td class="width80 text-align-left">
            <ul class="checkbox-list-box">
                <li *ngFor="let o of datas.concat(datas)" class="inline-block">
                    <ngl-form-checkbox [error]="hasError ? error : null" class="inline-block no-lable checkbox-lisl-checkbox">
                        <input nglFormControl type="checkbox" [required]="required" />
                    </ngl-form-checkbox>
                    <span class="inline-block checkbox-list-text">{{d.surname}}</span>
                </li>
            </ul>
        </td>
    </tr>
</table>
<pagination maxSize=70 currentPage=5 (pageChanged)="pageChanged($event)"></pagination>

<ngl-modal header="编辑账号" [(open)]="editModalOpen">
    <div body class="width65 mgb30button" style="margin:0 auto">
        <ngl-form-element label="账号：" [error]="hasError ? error : null" class="slds-m-top--small">
            <input nglFormControl type="text" placeholder="" [required]="required">
        </ngl-form-element>
        <ngl-form-element label="密码：" [error]="hasError ? error : null" class="slds-m-top--small">
            <input nglFormControl type="password" placeholder="" [required]="required">
        </ngl-form-element>
        <ngl-form-element label="名称：" [error]="hasError ? error : null" class="slds-m-top--small">
            <input nglFormControl type="text" placeholder="" [required]="required">
        </ngl-form-element>
        <ngl-form-element label="类别" class="slds-m-top--small">
          <select nglFormControl class="slds-select">
            <option *ngFor="let sex of [{viewValue:'男', value:'0'},{viewValue:'女', value: '1'}]" [value]="sex.value">{{sex.viewValue}}</option>
          </select>
        </ngl-form-element>
    </div>
    <template ngl-modal-footer *ngIf="!noFooter">
        <button class="slds-button slds-button--neutral" (click)="editModalOpen = false">取消</button>
        <button class="slds-button slds-button--brand">确定</button>
    </template>
</ngl-modal>

<alert #alert></alert>
<confirm (onConfirm)="onConfirm()" #confirm></confirm>