<ng-container *ngFor="let templateItem of templateItemItemList; let c = index;">
    <ng-container [ngSwitch]="templateItem.type">
    <!-- 文本框 -->
    <div *ngSwitchCase="'0'" class="label-box">
        <ngl-form-element label="{{templateItem.label}}："  [error]="v.result[templateItem.code]" class="slds-m-top--small left-lable{{!templateItem.visible ? ' display-none' : ''}}">
            <input [(ngModel)]="templateItem.reqDate.value" [disabled]="globalDisable || commentType || !templateItem.editable" nglFormControl type="text" (keyup)="checkValue(templateItem.code, templateItem.reqDate.value)" placeholder="{{templateItem.placeholderTip}}">
        </ngl-form-element>
    </div>
    <!-- 下拉框 -->
    <div *ngSwitchCase="'1'" class="label-box">
        <ngl-form-element [error]="v.result[templateItem.code]" label="{{templateItem.label}}：" class="slds-m-top--small left-lable">
            <select nglFormControl [disabled]='globalDisable || commentType || !templateItem.editable' [(ngModel)]="templateItem.reqDate.value" (ngModelChange)="checkValue(templateItem.code, templateItem.reqDate.value)" class="slds-select">
                <option value="">--- 请选择 ---</option>
                <option *ngFor="let rank of templateItem.selectList | async" [value]="rank.value">{{rank.displayValue}}</option>
            </select>
        </ngl-form-element>
     </div>
    <!-- 单选框 -->
    <div *ngSwitchCase="'8'" class="label-box">
        <div  class="slds-m-top--small left-lable radio-box">
            <label class="slds-form-element__label"><span>{{templateItem.label}}：</span></label>
            <div class="slds-form-element__control">
                <fieldset ngl-form-group [error]="v.result[templateItem.code]">
                    <ngl-form-group-element *ngFor="let rank of templateItem.selectList | async" label="{{rank.displayValue}}"><input [disabled]='globalDisable || commentType || !templateItem.editable' [value]="rank.value" [(ngModel)]="templateItem.reqDate.value" name="{{templateItem.code}}" nglFormControl type="radio" /></ngl-form-group-element>
                </fieldset>
            </div>
        </div>
     </div>
    <!-- 日期框 -->
    <div *ngSwitchCase="'2'" class="label-box">
        <date-picker #dataPicker class="{{!templateItem.visible ? ' display-none' : ''}}" formClass="left-lable" placeholder="{{templateItem.label}}：" [initDate]="templateItem.defaultValue" [disabled]='globalDisable || commentType || !templateItem.editable' (dateChanged)="templateItem.reqDate.value = $event.formatted"></date-picker>
    </div>
    <!-- 数字框 -->
    <div *ngSwitchCase="'5'" class="label-box">
        <ngl-form-element label="{{templateItem.label}}："  [error]="v.result[templateItem.code]" class="slds-m-top--small left-lable{{!templateItem.visible ? ' display-none' : ''}}">
            <input [(ngModel)]="templateItem.reqDate.value" [disabled]="globalDisable || commentType || !templateItem.editable" nglFormControl type="text" (keyup)="checkValue(templateItem.code, templateItem.reqDate.value)" placeholder="{{templateItem.placeholderTip}}">
        </ngl-form-element>
    </div>

    <div *ngSwitchCase="'6'" class="label-box">
        <ngl-form-element label="{{templateItem.label}}："  [error]="v.result[templateItem.code]" class="slds-m-top--small left-lable">
            <input [(ngModel)]="templateItem.reqDate.value" [disabled]="globalDisable || commentType || !templateItem.editable" nglFormControl type="text" type="password"  (keyup)="checkValue(templateItem.code, templateItem.reqDate.value)" placeholder="{{templateItem.placeholderTip}}">
        </ngl-form-element>
    </div>
    <!-- 分数框 -->
    <div *ngSwitchCase="'11'" class="label-box">
        <ngl-form-element label="{{templateItem.label}}："  [error]="v.result[templateItem.code]" class="slds-m-top--small left-lable{{!templateItem.visible ? ' display-none' : ''}}">
            <input [(ngModel)]="templateItem.point1" (ngModelChange)="templateItem.reqDate.value = templateItem.point1 + '/' + templateItem.point2;checkValue(templateItem.code, templateItem.reqDate.value)" class="point1" [disabled]="globalDisable || commentType || !templateItem.editable" nglFormControl type="text" placeholder="{{templateItem.placeholderTip}}">
            /
            <input [(ngModel)]="templateItem.point2" (ngModelChange)="templateItem.reqDate.value = templateItem.point1 + '/' + templateItem.point2;checkValue(templateItem.code, templateItem.reqDate.value)" class="point2" [disabled]="globalDisable || commentType || !templateItem.editable" nglFormControl type="text" placeholder="{{templateItem.placeholderTip}}">
        </ngl-form-element>
        <span class="percent" style="left: 510px;width: 500px;">{{templateItem.placeholderTip}}</span>
    </div>
    <!-- 百分比框 -->
    <div *ngSwitchCase="'10'" class="label-box">
        <ngl-form-element label="{{templateItem.label}}："  [error]="v.result[templateItem.code]" class="slds-m-top--small left-lable{{!templateItem.visible ? ' display-none' : ''}}">
            <input [(ngModel)]="templateItem.reqDate.value" [disabled]="globalDisable || commentType || !templateItem.editable" nglFormControl type="text" (keyup)="checkValue(templateItem.code, templateItem.reqDate.value)" placeholder="{{templateItem.placeholderTip}}">
        </ngl-form-element>
        <span class="percent">%</span>
    </div>
    <!-- 复选框 -->
    <div *ngSwitchCase="'7'" class="label-box">
        <ngl-form-checkbox class="piont" [error]="v.result[templateItem.code]" class="slds-m-top--small left-lable{{!templateItem.visible ? ' display-none' : ''}}">
            <label class="slds-form-element__label"><span>{{templateItem.label}}：</span></label>
            <input nglFormControl [(ngModel)]="templateItem.reqDate.value" [disabled]="globalDisable || commentType || !templateItem.editable" (ngModelChange)="checkValue(templateItem.code, templateItem.reqDate.value)" type="checkbox" />
        </ngl-form-checkbox>
    </div>
    <!-- 表格 -->
    <div *ngSwitchCase="'15'">
        <h1 class="mgt30 overflow-hidden"><button *ngIf='!globalDisable && !commentType' class="slds-button slds-button--green float-right" (click)="addModalOpen=true">新增</button></h1>
        
        <table class="slds-table mgt20">
          <tr>
              <th *ngFor="let table of tableList | orderBy: 'seqNo'">{{table.label}}</th>
              <th style="width: 200px">操作</th>
          </tr>
          <tr *ngFor="let tableTr of tableTrList; let i = index">
              <td *ngFor="let table of tableList | orderBy: 'seqNo'">{{ tableTr[table.code]?.itemValue | async }}</td>
              <td *ngIf='!globalDisable && !commentType'>
                  <my-button button="radius" (onClick)="editModalAssessAnwser(tableTr)" color="primary" className="mgr10" icon="icon-edit1">编辑</my-button>
                  <my-button button="radius" (onClick)="deleteTableList(tableTr)" color="red" className="mgr10" icon="icon-edit1">删除</my-button>
              </td>
              <td *ngIf='globalDisable || (commentType && !isTable)'>
                <my-button button="radius" (onClick)="editModalAssessAnwser(tableTr)" color="primary" className="mgr10" icon="icon-edit1">编辑</my-button>
              </td>
              <td *ngIf='isTable && commentType'>
                <my-button button="radius" (onClick)="commentAssess(tableTr)" color="primary" className="mgr10" icon="icon-edit1">评分</my-button>
              </td>
          </tr>
        </table>
        <ngl-modal size="large" header="新增" [(open)]="addModalOpen">
          <div body class="width85 mgb30button" style="margin:0 auto">
              <examination-assess-component 
                [code]='code' 
                *ngIf="addModalOpen" 
                #examinationAssessAdd 
                [templateFormId]="templateFormId"
                [assessPaper]='assessPaper'
                [assess]='assess'
                [group]='group'
                [globalDisable]='globalDisable'
                [templateItemItemList]="tableAssessList"></examination-assess-component>
          </div>
          <template ngl-modal-footer>
              <button class="slds-button slds-button--neutral" (click)="addModalOpen = false">取消</button>
              <button class="slds-button slds-button--brand" (click)="submitNewFrom()">确定</button>
          </template>
        </ngl-modal>
        <ngl-modal size="large" header="编辑" [(open)]="editModalOpen">
          <div body class="width85 mgb30button" style="margin:0 auto">
              <examination-assess-component 
                [code]='code' 
                *ngIf="editModalOpen" 
                #examinationAssessEdit
                [templateFormId]="templateFormId"
                [assessPaper]='assessPaper'
                [assess]='assess'
                [assessanswer]='currentAssessanswer'
                [group]='group'
                [isComment]='isComment'
                [commentType]='commentType'
                [commentReq]='currentCommentReq'
                [templateItemItemList]="tableAssessList"></examination-assess-component>
          </div>
          <template ngl-modal-footer>
              <button class="slds-button slds-button--neutral" (click)="editModalOpen = false">取消</button>
              <button class="slds-button slds-button--brand" (click)="submitModelEditFrom()">确定</button>
          </template>
        </ngl-modal>
    </div>
    <!-- 多行文本框 -->
    <div *ngSwitchCase="'16'" class="label-box">
        <ngl-form-element 
            label="{{templateItem.label}}：" 
            [error]="v.result[templateItem.code]"
            class="slds-m-top--small left-lable">
            <textarea [(ngModel)]="templateItem.reqDate.value" [disabled]="globalDisable || commentType || !templateItem.editable" (keyup)="checkValue(templateItem.code, templateItem.reqDate.value)" nglFormControl placeholder="{{templateItem.placeholderTip}}"></textarea>
        </ngl-form-element>
    </div>
    <!-- 文件上传 -->
    <div *ngSwitchCase="'13'" class="label-box mgt10">
        <label class="slds-form-element__label"><span>{{templateItem.label}}：</span></label>
        <span *ngIf="templateItem.reqDate.value" style="position: absolute;top: 5px;width: 500px;">已上传文件：{{templateItem.reqDate.value | getFileName | async}} <span *ngIf='!globalDisable && !commentType' (click)="templateItem.reqDate.value=''" class="file-delete-button icon-close iconfont"></span></span>
        <file-upload  *ngIf="!templateItem.reqDate.value" #fu (change)="fu.upload()" (onFileUpload)="templateItem.reqDate.value = $event" [multiple]="true"></file-upload>
    </div>
    <!-- 富文本编辑器 -->
    <div *ngSwitchCase="'17'" class="personal-description mgt30">
        <p class="mgb30">{{templateItem.label}}：</p>
        <quill-editor 
        [(ngModel)]="templateItem.reqDate.value" 
        [options]="editorOptions" 
        (blur)="onEditorBlured($event)" 
        (focus)="onEditorFocused($event)"
        (ready)="onEditorCreated($event)" 
        (change)="onContentChanged($event)"></quill-editor>
    </div>
    
    </ng-container>
</ng-container>
<article *ngIf="isComment" class="slds-card mgt30 width80">
  <ngl-form-element label="系统辅助评分:"  class="slds-m-top--small left-lable width50">
    <input nglFormControl disabled type="text" placeholder="" [(ngModel)]="commentReq.auxiliaryScore">
  </ngl-form-element>
  <ngl-form-element label="评分:"  class="slds-m-top--small left-lable">
      <input [(ngModel)]="score" nglFormControl type="text" placeholder="">
  </ngl-form-element>
  <ngl-form-element label="评分意见" [error]="hasError ? error : null" class="slds-m-top--small left-lable">
      <textarea [(ngModel)]="scoreComment" nglFormControl placeholder=""></textarea>
  </ngl-form-element>
</article>

<table *ngIf="isComment" class="slds-table mgt30 width80">
  <tr>
      <th colspan='2'>初评得分</th>
  </tr>
  <tr>
    <td>原始得分</td>
    <td>{{commentReq.markedScore}}</td>
  </tr>
  <tr>
    <td>实际得分</td>
    <td>{{commentReq.rmarkedScore}}</td>
  </tr>
  <tr *ngIf='!isTable'>
    <td>互评意见</td>
    <td>{{commentReq.markedComment}}</td>
  </tr>
</table>
<table *ngIf="isComment" class="slds-table mgt30 width80">
  <tr>
      <th colspan='2'>复评得分</th>
  </tr>
  <tr>
    <td>原始得分</td>
    <td>{{commentReq.auditScore}}</td>
  </tr>
  <tr>
    <td>实际得分</td>
    <td>{{commentReq.rauditScore}}</td>
  </tr>
  <tr *ngIf='!isTable'>
    <td>互评意见</td>
    <td>{{commentReq.auditComment}}</td>
  </tr>
</table>
<div *ngIf='userId' class="comment">
    <div *ngIf='templateItemItemList.length === 1 && templateItemItemList[0].type === "15";else inputComment' class="table-comment">
        <!-- 表格选项 -->
    </div>
    <ng-template #inputComment>
        <!-- 表单展现 -->
        
    </ng-template>
</div>
<spinner #spinner></spinner>
<alert #alert></alert>
<confirm (onConfirm)="onConfirm()" #confirm></confirm>