<ng-container *ngFor="let templateItem of templateItemItemList; let c = index;">
    <ng-container [ngSwitch]="templateItem.type">
    <!-- 文本框 -->
    <div *ngSwitchCase="0" class="label-box">
        <ngl-form-element label="{{templateItem.label}}："  [error]="v.result[templateItem.code]" class="slds-m-top--small left-lable">
            <input [(ngModel)]="templateItem.reqDate.value" [disabled]="isItemDisable(templateItem)" nglFormControl type="text" (keyup)="checkValue(templateItem.code, templateItem.reqDate.value)" (ngModelChange)="setCalculatedValue()" placeholder="{{templateItem.placeholderTip}}">
        </ngl-form-element>
    </div>
    <!-- 整数框 -->
    <div *ngSwitchCase="5" class="label-box">
        <ngl-form-element label="{{templateItem.label}}："  [error]="v.result[templateItem.code]" class="slds-m-top--small left-lable">
            <input [(ngModel)]="templateItem.reqDate.value" [disabled]="isItemDisable(templateItem)" nglFormControl type="text" (keyup)="checkValue(templateItem.code, templateItem.reqDate.value)" (ngModelChange)="setCalculatedValue()" placeholder="{{templateItem.placeholderTip}}">
        </ngl-form-element>
    </div>
    <!-- 期刊框 -->
    <div *ngSwitchCase="19" class="label-box">
        <ngl-form-element label="{{templateItem.label}}："  [error]="v.result[templateItem.code]" class="slds-m-top--small left-lable">
            <input [(ngModel)]="templateItem.reqDate.value" [disabled]="isItemDisable(templateItem)" nglFormControl type="text" (keyup)="checkValue(templateItem.code, templateItem.reqDate.value)" (ngModelChange)="setCalculatedValue()" placeholder="{{templateItem.placeholderTip}}">
        </ngl-form-element>
    </div>
    <!-- 小数框 -->
    <div *ngSwitchCase="18" class="label-box">
        <ngl-form-element label="{{templateItem.label}}："  [error]="v.result[templateItem.code]" class="slds-m-top--small left-lable">
            <input [(ngModel)]="templateItem.reqDate.value" [disabled]="isItemDisable(templateItem)" nglFormControl type="text" (keyup)="checkValue(templateItem.code, templateItem.reqDate.value)" (ngModelChange)="catDecimal(templateItem);setCalculatedValue()" placeholder="{{templateItem.placeholderTip}}">
        </ngl-form-element>
    </div>
    <!-- 下拉框 -->
    <div *ngSwitchCase="'1'" class="label-box">
        <ngl-form-element [error]="v.result[templateItem.code]" label="{{templateItem.label}}：" class="slds-m-top--small left-lable">
            <select nglFormControl [disabled]='isItemDisable(templateItem)' [(ngModel)]="templateItem.reqDate.value" (ngModelChange)="checkValue(templateItem.code, templateItem.reqDate.value);setCalculatedValue()" class="slds-select">
                <option value="">--- 请选择 ---</option>
                <option *ngFor="let rank of templateItem.selectList | async" [value]="rank.value">{{rank.displayValue}}</option>
            </select>
        </ngl-form-element>
     </div>
    <!-- 单选框 -->
    <div *ngSwitchCase="'8'" class="label-box">
        <div  class="slds-m-top--small left-lable radio-box">
            <label class="slds-form-element__label"><span>{{templateItem.label}}：</span></label>
            <div class="slds-form-element__control">
                <fieldset ngl-form-group [error]="v.result[templateItem.code]">
                    <ngl-form-group-element *ngFor="let rank of templateItem.selectList | async" label="{{rank.displayValue}}"><input [disabled]='isItemDisable(templateItem)' [value]="rank.value" [(ngModel)]="templateItem.reqDate.value" name="{{templateItem.code}}" nglFormControl type="radio" /></ngl-form-group-element>
                </fieldset>
            </div>
        </div>
     </div>
    <!-- 日期框 -->
    <div *ngSwitchCase="'2'" class="label-box">
        <date-picker #dataPicker class="" formClass="left-lable" placeholder="{{templateItem.label}}：" [initDate]="templateItem.defaultValue" [disabled]='isItemDisable(templateItem)' (dateChanged)="templateItem.reqDate.value = $event.formatted"></date-picker>
    </div>
    <!-- 密码框 -->
    <div *ngSwitchCase="'6'" class="label-box">
        <ngl-form-element label="{{templateItem.label}}："  [error]="v.result[templateItem.code]" class="slds-m-top--small left-lable">
            <input [(ngModel)]="templateItem.reqDate.value" [disabled]="isItemDisable(templateItem)" nglFormControl type="text" type="password"  (keyup)="checkValue(templateItem.code, templateItem.reqDate.value)" (ngModelChange)="setCalculatedValue()" placeholder="{{templateItem.placeholderTip}}">
        </ngl-form-element>
    </div>
    <!-- 分数框 -->
    <div *ngSwitchCase="'11'" class="label-box">
        <ngl-form-element label="{{templateItem.label}}："  [error]="v.result[templateItem.code]" class="slds-m-top--small left-lable">
            <input [(ngModel)]="templateItem.point1" (ngModelChange)="templateItem.reqDate.value = templateItem.point1 + '/' + templateItem.point2;checkValue(templateItem.code, templateItem.reqDate.value)" class="point1" [disabled]="isItemDisable(templateItem)" nglFormControl type="text" placeholder="{{templateItem.placeholderTip}}">
            /
            <input [(ngModel)]="templateItem.point2" (ngModelChange)="templateItem.reqDate.value = templateItem.point1 + '/' + templateItem.point2;checkValue(templateItem.code, templateItem.reqDate.value)" class="point2" [disabled]="isItemDisable(templateItem)" nglFormControl type="text" placeholder="{{templateItem.placeholderTip}}">
        </ngl-form-element>
        <span class="percent" style="left: 510px;width: 500px;">{{templateItem.placeholderTip}}</span>
    </div>
    <!-- 百分比框 -->
    <div *ngSwitchCase="'10'" class="label-box">
        <ngl-form-element label="{{templateItem.label}}："  [error]="v.result[templateItem.code]" class="slds-m-top--small left-lable">
            <input [(ngModel)]="templateItem.reqDate.value" [disabled]="isItemDisable(templateItem)" nglFormControl type="text" (keyup)="checkValue(templateItem.code, templateItem.reqDate.value)" (ngModelChange)="setCalculatedValue()" placeholder="{{templateItem.placeholderTip}}">
        </ngl-form-element>
        <span class="percent">%</span>
    </div>
    <!-- 复选框 -->
    <div *ngSwitchCase="'7'" class="label-box">
        <ngl-form-checkbox class="piont" [error]="v.result[templateItem.code]" class="slds-m-top--small left-lable">
            <label class="slds-form-element__label"><span>{{templateItem.label}}：</span></label>
            <input nglFormControl [(ngModel)]="templateItem.reqDate.value" [disabled]="isItemDisable(templateItem)" (ngModelChange)="checkValue(templateItem.code, templateItem.reqDate.value)" type="checkbox" />
        </ngl-form-checkbox>
    </div>
    <!-- 表格 -->
    <div *ngSwitchCase="'15'">
        <h1 class="mgt30 overflow-hidden"><button *ngIf='!globalDisable && !commentType' class="slds-button slds-button--green float-right" (click)="addModalOpen=true">新增</button></h1>
        
        <table class="slds-table mgt20">
          <tr>
              <th *ngFor="let table of tableList | orderBy: 'seqNo'">{{table.label}}</th>
              <th style="width: 200px">操作</th>
              <th *ngIf='commentType'  style="width: 150px">评分</th>
          </tr>
          <tr *ngFor="let tableTr of tableTrList; let i = index">
              <td *ngFor="let table of tableList | orderBy: 'seqNo'">{{ tableTr[table.code]?.itemValue | async }}</td>
              <td *ngIf='!globalDisable && !commentType'>
                  <my-button button="radius" (onClick)="editModalAssessAnwser(tableTr)" color="primary" className="mgr10" icon="icon-edit1">编辑</my-button>
                  <my-button button="radius" (onClick)="deleteTableList(tableTr)" color="red" className="mgr10" icon="icon-edit1">删除</my-button>
              </td>
              <td *ngIf='commentType'>
                <my-button *ngIf='globalDisable || !isTable' button="radius" (onClick)="editModalAssessAnwser(tableTr)" color="primary" className="mgr10" icon="icon-edit1">查看</my-button>
                <my-button *ngIf='isTable' button="radius" (onClick)="commentAssess(tableTr)" color="primary" className="mgr10" icon="icon-edit1">评分</my-button>
              </td>
              <td  *ngIf='commentType'>
                {{ isFristComment ? commentReq?.itemList[i].markedScore :  commentReq?.itemList[i].auditScore }}
              </td>
          </tr>
        </table>
        <ngl-modal size="large" header="新增" [(open)]="addModalOpen">
          <div body class="width85 mgb30button" style="margin:0 auto">
              <examination-assess-component 
                [code]='code' 
                *ngIf="addModalOpen" 
                #examinationAssessAdd 
                [templateFormId]="templateFormId"
                [assessPaper]='assessPaper'
                [assess]='assess'
                [group]='group'
                [globalDisable]='globalDisable'
                [templateItemItemList]="tableAssessList"></examination-assess-component>
          </div>
          <template ngl-modal-footer>
              <button class="slds-button slds-button--neutral" (click)="addModalOpen = false">取消</button>
              <button class="slds-button slds-button--brand" (click)="submitNewFrom()">确定</button>
          </template>
        </ngl-modal>
        <ngl-modal size="large" header="编辑" [(open)]="editModalOpen">
          <div body class="width85 mgb30button" style="margin:0 auto">
              <examination-assess-component 
                [code]='code' 
                *ngIf="editModalOpen" 
                #examinationAssessEdit
                [templateFormId]="templateFormId"
                [assessPaper]='assessPaper'
                [assess]='assess'
                [assessanswer]='currentAssessanswer'
                [group]='group'
                [isComment]='isComment'
                [commentType]='commentType'
                [commentReq]='currentCommentReq'
                [globalDisable]='globalDisable'
                [templateItemItemList]="tableAssessList"></examination-assess-component>
          </div>
          <template ngl-modal-footer>
              <button class="slds-button slds-button--neutral" (click)="editModalOpen = false">{{ isDisable ? '关闭' : '取消'}}</button>
              <button *ngIf="!commentType" class="slds-button slds-button--brand" (click)="submitModelEditFrom()">确定</button>
              <button *ngIf="!globalDisable && commentType" class="slds-button slds-button--brand" (click)="sendEditComment()">提交评分</button>
          </template>
        </ngl-modal>
    </div>
    <!-- 多行文本框 -->
    <div *ngSwitchCase="'16'" class="label-box">
        <ngl-form-element 
            label="{{templateItem.label}}：" 
            [error]="v.result[templateItem.code]"
            class="slds-m-top--small left-lable">
            <textarea [(ngModel)]="templateItem.reqDate.value" [disabled]="isItemDisable(templateItem)" (keyup)="checkValue(templateItem.code, templateItem.reqDate.value)"  (ngModelChange)="setCalculatedValue()" nglFormControl placeholder="{{templateItem.placeholderTip}}"></textarea>
        </ngl-form-element>
    </div>
    <!-- 文件上传 -->
    <div *ngSwitchCase="'13'" class="label-box mgt10">
        <label class="slds-form-element__label"><span>{{templateItem.label}}：</span></label>
        <span *ngIf="templateItem.reqDate.value" style="position: absolute;top: 5px;width: 500px;">已上传文件：<a href="http://61.178.80.84:10000/filesys/authsec/file/{{((templateItem.reqDate.value | getFileInfo | async) || [])[0]?.id}}/view">{{templateItem.reqDate.value | getFileName | async}}</a>
            <span (click)="deleteFile(templateItem.reqDate.value);templateItem.reqDate.value='';" class="file-delete-button icon-close iconfont"></span>
            
        </span>
        <!-- <span *ngIf="templateItem.reqDate.value && (templateItem.reqDate.value | getFileInfo | async)">
            <img *ngIf="(templateItem.reqDate.value | getFileInfo | async)[0].contentType.indexOf('image/') > -1" src="http://61.178.80.84:10000/filesys/authsec/file/{{(templateItem.reqDate.value | getFileInfo | async)[0].id}}/view" alt="">
        </span> -->
        <file-upload  *ngIf="!templateItem.reqDate.value" #fu (change)="fu.upload()" (onFileUpload)="templateItem.reqDate.value = $event" [multiple]="true"></file-upload>
    </div>
    <!-- 富文本编辑器 -->
    <div *ngSwitchCase="'17'" class="personal-description mgt30">
        <p class="mgb30">{{templateItem.label}}：</p>
        <quill-editor 
        [(ngModel)]="templateItem.reqDate.value" 
        [options]="editorOptions" 
        (blur)="onEditorBlured($event)" 
        (focus)="onEditorFocused($event)"
        (ready)="onEditorCreated($event, templateItem)" 
        (change)="onContentChanged($event)"></quill-editor>
    </div>
    
    </ng-container>
</ng-container>
<article *ngIf="isComment && !globalDisable" class="slds-card mgt30 width80">
  <!-- <ngl-form-element label="系统辅助评分:"  class="slds-m-top--small left-lable width50">
    <input nglFormControl disabled type="text" placeholder="" [(ngModel)]="commentReq.auxiliaryScore">
  </ngl-form-element> -->
  <ngl-form-element *ngIf='isTable' label="总计评分:"  class="slds-m-top--small left-lable">
      <input [(ngModel)]="isFristComment ? commentReq.markedScore : commentReq.auditScore" disabled nglFormControl type="text" placeholder="">
  </ngl-form-element>
  <ngl-form-element *ngIf='!isTable' [error]="vComment.result['score']" label="评分:"  class="slds-m-top--small left-lable">
      <input [(ngModel)]="score"  (ngModelChange)="checkCommentValue('score')" nglFormControl type="text" placeholder="">
  </ngl-form-element>
  <ngl-form-element *ngIf='!isTable' [error]="vComment.result['scoreComment']" label="评分意见" [error]="hasError ? error : null" class="slds-m-top--small left-lable">
      <textarea [(ngModel)]="scoreComment"  (ngModelChange)="checkCommentValue('scoreComment')" nglFormControl placeholder=""></textarea>
  </ngl-form-element>
  <!-- <ngl-form-element label="本题计分比例" class="slds-m-top--small left-lable">
    <input nglFormControl disabled type="text" placeholder="" [value]="commentReq.scoringRatio * 100 + '%'">
  </ngl-form-element> -->
</article>

<table *ngIf="isComment" class="slds-table mgt30 width80">
  <tr>
      <th colspan='2'>初评得分</th>
  </tr>
  <tr>
    <td>初评得分</td>
    <td>{{commentReq.markedScore}}</td>
  </tr>
  <!-- <tr>
    <td>实际得分</td>
    <td>{{commentReq.rmarkedScore}}</td>
  </tr> -->
  <!-- <tr *ngIf='code !== "TABLE"'>
    <td>互评意见</td>
    <td>{{commentReq.markedComment}}</td>
  </tr> -->
</table>
<table *ngIf="isComment" class="slds-table mgt30 width80">
  <tr>
      <th colspan='2'>复评得分</th>
  </tr>
  <tr>
    <td>复评得分</td>
    <td>{{commentReq.auditScore}}</td>
  </tr>
  <!-- <tr>
    <td>实际得分</td>
    <td>{{commentReq.rauditScore}}</td>
  </tr> -->
  <!-- <tr *ngIf='code !== "TABLE"'>
    <td>互评意见</td>
    <td>{{commentReq.auditComment}}</td>
  </tr> -->
</table>
<div *ngIf='userId' class="comment">
    <div *ngIf='templateItemItemList.length === 1 && templateItemItemList[0].type === "15";else inputComment' class="table-comment">
        <!-- 表格选项 -->
    </div>
    <ng-template #inputComment>
        <!-- 表单展现 -->
        
    </ng-template>
</div>
<spinner #spinner></spinner>
<alert #alert></alert>
<confirm (onConfirm)="onConfirm()" #confirm></confirm>