.file-delete-button {
	cursor: pointer;
	vertical-align: middle;
	border: 1px solid #c73d3d;
	font-size: 14px;
	width: 16px;
	height: 16px;
	display: inline-block;
	text-align: center;
	line-height: 15px;
	color: #c73d3d;
	font-weight: bold;
}
.point1, .point2 {
	width: 40%;
	display: inline-block;
}
.point2 {
}

.radio-box {
	legend.slds-form-element__label {
		display: none;
	}
}

.personal-description {
	width: 80%;
	margin: 0 auto;
	.ql-container .ql-editor {
		min-height: 500px;
	}
	// .instruction {
	// 	line-height: 26px;
	// 	font-size: 14px;
	// 	color: #999;
	// 	margin-left: 50px;
	// 	&::before {
	// 		content: "说明：";
	// 		float: left;
	// 		margin-left: -50px;
	// 	}
	// }
}