<h1 class="content-title">考题设置</h1>
<ngl-tabs [(selected)]="selectedTab" (selectedChange)="selectedChange($event)">
  <ng-template ngl-tab *ngFor="let assessPaper of assesspaperlist; let paperIndex = index" [nglTabId]="paperIndex" [heading]="assessPaper.name">
    <ngl-form-element label="请选择分组:" class="slds-m-top--small left-lable" style="width: 300px">
        <select nglFormControl [(ngModel)]="selectGroup" (ngModelChange)="selectGroupChange()" class="slds-select">
          <option [value]="null">--- 请选择 ---</option>
            <option *ngFor="let group of groupItem" [ngValue]="group">{{group.name}}</option>
        </select>
    </ngl-form-element>
    <p class="mgt20"></p> 
    <wizard *ngIf="!!assesslist?.length">
      <wizard-step stepTitle="{{assess.assessName}}" class="step-box" *ngFor="let assess of assesslist; let a = index;" #wizard>
          <ng-container [ngSwitch]="examination?.type">
              <!-- 表单模板 -->
              <ng-container *ngSwitchCase="0">
                  <examination-assess-component #examinationAssess2 [templateItemItemList]="templateItemItemList"></examination-assess-component>
              </ng-container>
              <!-- 表格模板 -->
              <ng-container *ngSwitchCase="1">
                <examination-assess-component #examinationAssess2 [tableAssessList]="templateItemItemList" [tableList]="tableList" [templateItemItemList]="tableItemList"></examination-assess-component>
              </ng-container>
              <!-- 表格表单混合模板 -->
              <ng-container *ngSwitchCase="2">
                <examination-assess-component #examinationAssess2 [tableAssessList]="complexTemplateList" [tableList]="complexTemplateList" [templateItemItemList]="templateTableList"></examination-assess-component>
              </ng-container>
          </ng-container>
        <div class="step-button-box">
          <button type="button" nglButton="inverse" (click)="goToStep(a - 1)" class="mgr30">上一步</button>
          <button type="button" nglButton="brand" (click)="nextSteap(a + 1)">下一步</button>
        </div>
      </wizard-step>
    </wizard>
  </ng-template>
</ngl-tabs>


<alert #alert></alert>
<confirm (onConfirm)="onConfirm()" #confirm></confirm>
<spinner #spinner></spinner>