.examination-paper {
	max-width: 500px;
	margin: 0 auto;
	.slds-form-element__label {
		width: 100px;
	}
}
.label-box {
	max-width: 500px;
	margin: 0 auto;
	position: relative;
	.percent {
		position: absolute;
		top: 10px;
		right: -20px;
	}
	.slds-form-element__label {
		width: 120px;
		display: inline-block;
	}
}
.examination-paper-instruction {
	line-height: 26px;
	font-size: 14px;
	color: #999;
	border-top: 1px solid #ccc;
	margin: 20px auto 0;
	width: 90%;
	padding-top: 30px;
	padding-left: 30%;
	&::before {
		content: "说明：";
		float: left;
		margin-left: -50px;
	}
}
.examination-paper-poiont {
	font-size: 16px;
	color: #666;
	width: 90%;
	text-align: right;
	margin-top: 50px;
}

.step-button-box {
	text-align: center;
	margin-top: 50px;
}
.step-box {
	width: 90% !important;
	margin: 0 auto;
}
.color-red {
	cursor: pointer;
}