<h1 class="content-title">考核角色管理</h1>
<table class="slds-table mgt30 role___component">
    <tr>
        <th style="width: 70px">序号</th>
        <th>名称</th>
        <th>内容</th>
        <th>操作</th>
    </tr>
    <tr *ngFor="let role of roleList; let i = index">
        <td>{{i+1}}</td>
        <td>
            <font class="color-neutral">{{role.name}}</font>
        </td>
        <td class="width65 text-align-left">
            <ul class="checkbox-list-box">
                <li *ngFor="let menu of role.roleDetailsItem.menus">
                    <span class="inline-block list-title">{{menu.name}}</span>
                    <span *ngFor="let m of menu.children" class="inline-block list-children">{{m.name}}</span>
                </li>
            </ul>
        </td>
        <td>
            <my-button button="radius" (onClick)="editUser(role)" color="primary" className="mgr10" icon="icon-edit1">编辑</my-button>
            <my-button button="radius" (onClick)="deleteUser(role)" color="red" className="mgr10" icon="icon-edit1">删除</my-button>
        </td>
    </tr>
</table>
<pagination *ngIf="maxPage>1" [maxSize]="maxPage" [currentPage]="currentPage + 1" (pageChanged)="pageChanged($event)"></pagination>

<ngl-modal header="编辑账号" [(open)]="editModalOpen">
    <div body class="width90 mgb30button role___component" style="margin:0 auto">
        <div class="menu-box" *ngFor="let menuTop of menuItem | orderBy: 'orderBy';">
            <ngl-form-checkbox [label]="menuTop.name" [error]="hasError ? error : null" class="inline-block checkbox-lisl-checkbox role-title">
                <input nglFormControl type="checkbox" [(ngModel)]="menuTop.selected" (ngModelChange)="topCheck(menuTop)" />
            </ngl-form-checkbox>
            <div class="menu-children">
                <ngl-form-checkbox  *ngFor="let menu of menuTop.children | orderBy: 'orderBy';" [label]="menu.name" [error]="hasError ? error : null" class="inline-block checkbox-lisl-checkbox">
                    <input nglFormControl type="checkbox" [(ngModel)]="menu.selected" />
                </ngl-form-checkbox>
            </div>
        </div>
    </div>
    <template ngl-modal-footer>
        <button class="slds-button slds-button--neutral" (click)="editModalOpen = false">取消</button>
        <button class="slds-button slds-button--brand" (click)="submit()">确定</button>
    </template>
</ngl-modal>

<alert #alert></alert>
<spinner #spinner></spinner>
<confirm (onConfirm)="onConfirm()" #confirm></confirm>