<ngl-form-element label="试卷名称：" [error]="v.result.name" class="slds-m-top--small">
    <input nglFormControl type="text" placeholder="" [(ngModel)]="assessPaperProfileReq.name" (ngModelChange)="checkValue('name')" [required]="required">
</ngl-form-element>
<ngl-form-element label="编码：" [error]="v.result.code" class="slds-m-top--small">
    <input nglFormControl type="text" placeholder="" [(ngModel)]="assessPaperProfileReq.code" (ngModelChange)="checkValue('code')" [required]="required">
</ngl-form-element>
<ngl-form-element [error]="v.result.title" label="职称:" class="slds-m-top--small">
    <input nglFormControl style="display: none" [required]="required">
        
    <ngl-form-checkbox *ngFor="let title of professionalTitle" [label]="title.displayValue" [error]="hasError ? error : null" class="inline-block checkbox-lisl-checkbox role-title">
        <input nglFormControl type="checkbox" [(ngModel)]="title.selected" (ngModelChange)="titleCheck(title);" />
    </ngl-form-checkbox>
</ngl-form-element>
<ngl-form-element [error]="v.result.orgId" label="部门:" class="slds-m-top--small">
    <input nglFormControl style="display: none" [required]="required">
        
    <ngl-form-checkbox *ngFor="let organization of organizationList" [label]="organization.organizitionName" [error]="hasError ? error : null" class="inline-block checkbox-lisl-checkbox role-title">
        <input nglFormControl type="checkbox" [(ngModel)]="organization.selected" (ngModelChange)="organizationCheck(organization);" />
    </ngl-form-checkbox>
</ngl-form-element>

<h1 class="slds-text-heading--large mgt30"><font style="font-size: 22px">考题管理</font>
    <button class="slds-button slds-button--neutral slds-button--small" (click)="selectCategoryOpen()" style="float:right; font-size:small;">添加分组</button>
</h1>

<div #tabBox class="tab-box">
<ngl-tabs [(selected)]="selectedTab" type="default">
    <ngl-tab *ngFor="let category of selectedCategoryList" nglTabId="{{category.id}}" (onActivate)="tabChange(category, 'active')" (onDeactivate)="tabChange(category, 'inactive')">
        <ng-template ngl-tab-heading>{{ category.name }}</ng-template>
        <ng-template ngl-tab-content>
            <h1  *ngIf="selectedCategoryList.length" class="slds-text-heading--large ">
                <button class="slds-button slds-button--green " (click)="addNewAssess()" style=" font-size:small;">编辑考题</button>
                <my-button button="radius" (onClick)="deleteGroup(category)" color="red" className="mgr10 float-right" icon="icon-edit1">删除该分组</my-button>
            </h1>
        </ng-template>
    </ngl-tab>
</ngl-tabs>
</div>

<ngl-modal header="更改考题" size="large" [(open)]="addModalOpen">
    <div body class="width85 mgb30button" style="margin:0 auto">
        <table class="slds-table mgt30">
            <tr>
                <th>选择</th>
                <th>名称</th>
                <th>类型</th>
                <th>状态</th>
                <th>可编辑</th>
            </tr>
            <tr *ngFor="let assess of allAssessList; let i = index">
                <td class="no-padding">
                    <ngl-form-checkbox [error]="hasError ? error : null" class="">
                        <input nglFormControl [(ngModel)]="assess.isSelect" (ngModelChange)="seletChanged(assess)" type="checkbox" />
                    </ngl-form-checkbox>
                </td>
                <td>
                    <font class="color-neutral">{{assess.name}}</font>
                </td>
                <td>{{assess.type | dict: service.type | async}}</td>
                <td>{{assess.status | dict: service.status | async}}</td>
                <td>
                    <fieldset style="margin-top: 0" ngl-form-group-alt [required]="required" [error]="hasError ? error : null" class="slds-m-top--small">
                        <ngl-form-group-element><ng-template nglFormLabel>参评</ng-template><input [(ngModel)]="assess.exEditable" (ngModelChange)="seletChanged(assess)" nglFormControl type="checkbox" /></ngl-form-group-element>
                        <ngl-form-group-element><ng-template nglFormLabel>初评</ng-template><input [(ngModel)]="assess.scEditable" (ngModelChange)="seletChanged(assess)" nglFormControl type="checkbox" /></ngl-form-group-element>
                        <ngl-form-group-element><ng-template nglFormLabel>复核</ng-template><input [(ngModel)]="assess.auEditable" (ngModelChange)="seletChanged(assess)" nglFormControl type="checkbox" /></ngl-form-group-element>
                    </fieldset>
                    <!-- <ngl-form-checkbox-toggle [error]="hasError ? error : null" class="slds-m-top--small">
                        <input nglFormControl [(ngModel)]="templateitem.editable" (ngModelChange)="seletChanged(templateitem)" type="checkbox" />
                    </ngl-form-checkbox-toggle> -->
                </td>
            </tr>
        </table>
        <pagination *ngIf="maxPage>1" [maxSize]="maxPage" [currentPage]="currentPage + 1" (pageChanged)="pageChanged($event)"></pagination>
    </div>
    <template ngl-modal-footer>
        <button class="slds-button slds-button--neutral" (click)="submiteAssess()">关闭</button>
    </template>
</ngl-modal>

<ngl-modal header="选择分组" [(open)]="selectCategoryModal">
    <div body class="width55 mgb30button" style="margin:0 auto">
        <table class="slds-table mgt30">
            <tr>
                <th>选择</th>
                <th>分组名称</th>
                <th>编码</th>
            </tr>
            <tr *ngFor="let category of categoryList; let i = index" (click)="currentCategory = category" >
                <td style="width: 150px">
                    <div class="radio">
                        <input class="{{currentCategory?.id === category?.id ? 'checked' : ''}}" id="radio-{{i}}" name="radio" type="radio" >
                        <label for="radio-{{i}}" class="radio-label"></label>
                    </div>
                </td>
                <td>
                    <font class="color-neutral">{{category.name}}</font>
                </td>
                <td>{{category.code}}</td>
            </tr>
        </table>
        <pagination *ngIf="cgmaxPage>1" [maxSize]="cgmaxPage" [currentPage]="cgcurrentPage + 1" (pageChanged)="cgpageChanged($event)"></pagination>
    </div>
    <template ngl-modal-footer>
        <button class="slds-button slds-button--neutral" (click)="selectCategoryModal = false">取消</button>
        <button class="slds-button slds-button--brand" (click)="submiteCategory()">确定</button>
    </template>
</ngl-modal>   


<table *ngIf="assessItemList.length" class="slds-table">
    <tr>
        <th>序号</th>
        <th>名称</th>
        <th>编码</th>
    </tr>
    <tr *ngFor="let assess of assessItemList | orderBy: 'seqNo'; let i = index">
        <td class="no-padding">
            <select [(ngModel)]="assess.seqNo" (ngModelChange)="setSeqNo(assess, i + 1)">
                <option *ngFor="let n of seqNoList" [value]="n">{{n}}</option>
            </select>
        </td>
        <td>
            <font class="color-neutral">{{assess.assessName}}</font>
        </td>
        <td>{{assess.assessCode}}</td>
    </tr>
</table>

<spinner #spinner></spinner>
<alert #alert></alert>
<confirm (onConfirm)="onConfirm()" #confirm></confirm>