<h1 class="content-title">考核结果查询</h1>
<div class="scores-query">
    <ngl-form-element label="职称:" class="slds-m-top--small left-lable">
      <select nglFormControl [(ngModel)]="title" class="slds-select">
            <option value="">--- 请选择 ---</option>
            <option *ngFor="let sex of service.professionalTitle | async" [value]="sex.value">{{sex.displayValue}}</option>
        </select>
    </ngl-form-element>
    <ngl-form-element label="部门:" class="slds-m-top--small left-lable">
        <select nglFormControl [(ngModel)]="orgId" class="slds-select">
            <option value="">--- 请选择 ---</option>
            <option *ngFor="let organization of organizationList" [value]="organization.id">{{organization.organizitionName}}</option>
        </select>
    </ngl-form-element>
    <ngl-form-element label="试卷:" class="slds-m-top--small left-lable">
        <select nglFormControl [(ngModel)]="assessPaperId" class="slds-select">
            <option value="">--- 请选择 ---</option>
            <option *ngFor="let page of pageList" [value]="page.id">{{page.name}}</option>
        </select>
    </ngl-form-element>
    <button class="slds-button slds-button--brand" (click)="fetchRankingList()">搜索</button>
</div>
<table *ngIf="!selectGroup" class="slds-table mgt30">
    <tr>
        <th>序号</th>
        <th>部门</th>
        <th>职称</th>
        <th>姓名</th>
        <th>总分</th>
        <th>总排名</th>
        <th>部门排名</th>
        <th>考核等次</th>
        <th>详情</th>
    </tr>
    <tr *ngFor="let ranking of rankingList; let i = index">
        <td>{{i + 1}}</td>
        <td>{{ranking.orgName}}</td>
        <td>{{ranking.title | dict: service.professionalTitle | async}}</td>
        <td>{{ranking.userName}}</td>
        <td>{{ranking.totalScore}}</td>
        <td>{{ranking.totalRank}}</td>
        <td>{{ranking.orgRank}}</td>
        <td>{{ranking.rankLevel}}</td>
        <td><font class="color-red" (click)="moreInfo(ranking)">查看详情</font></td>
    </tr>
</table>
<pagination *ngIf="maxPage>1" [maxSize]="maxPage" [currentPage]="currentPage + 1" (pageChanged)="pageChanged($event)"></pagination>

<ngl-modal class="detail-modal" size="large" header="考核详情" [(open)]="scoresDetail">
    <div #detailBox body class="width85 mgb30button detail-box" style="margin:0 auto">
        <h1 class="detail-title">2016年度 {{currentRanking.orgName}} <b>{{currentRanking.userName}}</b>({{currentRanking.title | dict: service.professionalTitle | async }}) 考核详情 <a href="javascript:" (click)='printDetail()'>打印</a></h1>
        <div class="detail-list" *ngFor='let detail of detailList; let i = index'>
            <h2 class="detail-title2">{{i + 1}}、{{detail.categoryName}} (本组满分值:{{detail.scoringThreshold || "不封顶"}} &nbsp; 总分计分比率:{{detail.scoringRatio * 100}}%)</h2>
            <table class="slds-table mgt30">
                <tr>
                    <th>考核内容</th>
                    <th>满分值</th>
                    <th>实际得分</th>
                    <th>计分⽐</th>
                    <th>计分</th>
                    <th>备注</th>
                </tr>
                <tr *ngFor="let item of detail.itemList; let i = index">
                    <td>{{item.assessName}}</td>
                    <td>{{item.scoringThreshold}}</td>
                    <td>{{item.realScore}}</td>
                    <td>{{item.scoringRatio}}</td>
                    <td>{{item.totalScore}}</td>
                    <td>{{item.comment}}</td>
                </tr>
                <tr>
                    <td style='background: #f4f6f9;' colspan="1">基本分合计</td>
                    <td colspan="2">{{getTotalScore(detail)}}</td>
                    <td style='background: #f4f6f9;' colspan="1">最终计分</td>
                    <td colspan="2">{{detail.realTotalScore}}</td>
                </tr>
            </table>
        </div> 
        <div class="detail-list">
            <h2 class="detail-title2">{{detailList.length + 1}}、考核等次</h2>
            <table class="slds-table mgt30">
                <tr>
                    <th *ngFor='let detail of detailList'>{{detail.categoryName}}</th>
                    <th>总分</th>
                    <th>全院排名</th>
                    <th>部门排名</th>
                    <th>评定等次</th>
                </tr>
                <tr>
                    <td *ngFor='let detail of detailList'>{{detail.realTotalScore}}</td>
                    <td>{{totalScores}}</td>
                    <td>{{currentRanking.totalRank}}</td>
                    <td>{{currentRanking.orgRank}}</td>
                    <td>{{currentRanking.rankLevel}}</td>
                </tr>
            </table>
        </div> 
    </div>
    <template ngl-modal-footer>
        <button class="slds-button slds-button--neutral" (click)="scoresDetail = false">取消</button>
        <button class="slds-button slds-button--brand" (click)="scoresDetail = false">确定</button>
    </template>
</ngl-modal>
<alert #alert></alert>
<confirm (onConfirm)="onConfirm()" #confirm></confirm>
<spinner #spinner></spinner>
