<div class="site">
	<div class="header">
		<a routerLink="/index"><img class="header-logo" src="/assets/img/logo-text.png"></a>
		<div class="header-right">
			<div class="user-name">
				<img src="http://tva3.sinaimg.cn/crop.0.0.639.639.180/7804de18jw8f1ib18k2ivj20hr0hs40u.jpg">韧青子
				<i class="iconfont icon-xiangxiajiantou"></i>
			</div>
			<i  mdTooltip="退出"  class="loginOut iconfont icon-SignOut"></i>
		</div>

	</div>
	<div class="menu-box">
		
	</div>
	<div class="content-box">
		<router-outlet></router-outlet>
	</div>
</div>