.header {
    background-color: #3B3F51;
    height: 75px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    color: #c6cfda;
    .header-logo {
        width: 260px;
        margin: 20px 0 0 20px;
    }
    .header-right {
        float: right;
        height: 75px;
        line-height: 75px;
        padding-right: 30px;
        .loginOut {
            font-size: 18px;
            cursor: pointer;
        }
        .user-name {
            display: inline-block;
            margin-right: 20px;
            cursor: pointer;
            padding: 0 20px;
            vertical-align: top;
            img {
                width: 40px;
                vertical-align: top;
                margin-top: 17px;
                border-radius: 50%;
                height: 40px;
                margin-right: 15px;
            }
            &:hover {
                background: #4f5469;
            }
            .icon-xiangxiajiantou {
                font-size: 14px;
            }
        }
    }
    .slds-dropdown__item a {
        padding: .5rem 4rem .5rem 1.2rem
    }
    .user-name-line {
        width: 150px;
    }
}

.nav-item-ul {
    margin-top: 20px;
}

.menu-box {
    position: fixed;
    height: 100%;
    width: 240px;
    background: #f4f6f9;
    top: 75px;
    font-size: 15px;
    .nav-toggle {
        display: block;
        padding: 10px;
        text-decoration: none;
        border-left: 3px solid #f4f6f9;
        border-bottom: 1px solid #e6e9ec;
        .iconfont:first-child {
            font-size: 16px;
            color: #6b788b;
            padding: 5px 5px 0 0;
            display: inline-block;
        }
        .iconfont:last-child {
            color: #909db1;
            float: right;
            font-size: 22px;
            margin: 1px 8px 0 0;
            transform: rotate(90deg);
            transition-duration: 300ms;
        }
        >.nav-title {
            color: #16325c;
            font-size: 15px;
            vertical-align: top;
            line-height: 16px;
            padding-top: 6px;
            display: inline-block;
        }
        &:hover {
            background: #e5ebf5;
            border-left: 3px solid #e5ebf5;
        }
    }
    .nav-item.open, .isopen {
        .iconfont:last-child {
            transform: rotate(0deg);
        }
        .sub-menu {
            display: block;
        }
        .nav-toggle {
            background: #e5ebf5;
            border-left: 3px solid #5C9ACF;
            color: #5b9bd1;
        }
    }
    .sub-menu {
        padding: 10px 0;
        display: none;
        .nav-item {
            color: #16325c;
            display: block;
            position: relative;
            padding: 12px 15px 12px 43px;
            .nav-title {
                color: #5e7686;
            }
            &:hover {
                background-color: #eceff5;
                .nav-link {
                    text-decoration: none;
                }
            }
        }
        .nav-item.active {
            background-color: #eceff5;
            .nav-title {
                color: #4b7ac7
            }
        }
    }
}

.content-box {
    margin: 100px 30px 0 260px;
}
