.login-title {
	color: #3f51b5;
	text-align: center;
	font-size: 26px;
	margin-top: 20px;
}
.login-button-box {
	overflow: auto;
	padding: 20px 30px;
	margin: 0px -30px;
}

.login-botton-box {
	background: #2c276d;
	height: 56px;
	margin: 20px -30px -30px;
	line-height: 56px;
	text-align: center;
	a {
		color: #a7a3da;
	}
}