.scores-query {
	overflow: hidden;
	.slds-m-top--small {
		width: 300px;
		float: left;
		margin-right: 30px;
	}
	.slds-form-element__label {
		width: 40px;
	}
	.slds-button {
		margin-top: 1rem;
	}
}
.role-title {
    display: block;
}
.org-info {
    overflow: hidden;
    li {
        float: left;
        width: 50%;
        line-height: 40px;
        border-bottom: 1px solid #eaeaea;
    }
}