.first-comment-paper {
	.label-box {
		max-width: 500px;
		margin: 0 auto;
		position: relative;
		.percent {
			position: absolute;
			top: 10px;
			right: -20px;
		}
		.slds-form-element__label {
			width: 120px;
			display: inline-block;
		}
	}
	.slds-form-element__label {
		width: 100px;
	}
	.slds-card {
		padding: 20px 30px;
		margin: 0 auto;
	}
	.slds-table {
		margin: 0 auto;
	}
	.step-button-box {
		text-align: center;
		margin-top: 50px;
	}
}