<h1 class="content-title">{{isFirstComment ? "考核初评" : "考试复评"}}</h1>
<div *ngIf="!selectGroup" class="first-comment-paper">
    <table class="slds-table mgt30">
      <tr>
        <th>考题组</th>
        <th>考题总数</th>
        <th>已评总数</th>
        <th>未评总数</th>
        <th>{{isFirstComment ? "初评总数" : "复评总数"}}</th>
        <th>操作</th>
      </tr>
      <tr *ngFor="let groupAnswer of groupAnswerItemList; let i = index">
        <td>{{groupAnswer.groupName}}</td>
        <td>{{groupAnswer.totalCount}}</td>
        <td>{{groupAnswer.doneCount}}</td>
        <td>{{groupAnswer.unstartedCount}}</td>
        <td>{{isFirstComment ? groupAnswer.markedCount : groupAnswer.auditedCount}}</td>
        <td  *ngIf="paperStatus != 0"><font class="color-red" (click)="continueAnswer(groupAnswer)">查看试卷</font></td>
      </tr>
    </table>
    <pagination *ngIf="maxPage>1" [maxSize]="maxPage" [currentPage]="currentPage + 1" (pageChanged)="pageChanged($event)"></pagination>
    <button *ngIf="paperStatus == 1" class="slds-button slds-button--brand mgt30" (click)="submiteComment()">{{ isFirstComment ? "提交初评" : "提交复评"}}</button>
  </div>

<p class="mgt20"></p> 
<wizard *ngIf="!!assesslist?.length" class="first-comment-paper">
  <wizard-step stepTitle="{{assess.assessName}}" class="step-box" *ngFor="let assess of assesslist | orderBy: 'seqNo'; let a = index;" #wizard>
      <ng-container *ngIf='currentStep === a' [ngSwitch]="examination?.type">

          <ng-container *ngSwitchCase="0">
              <!-- 表单模板 -->
              <examination-assess-component 
                code="FORM" 
                #examinationAssess 
                [templateFormId]="curremtTemplateForm?.id"
                [assessPaper]='currentAssessPaper'
                [assess]='currentAssesst'
                [isComment]='true'
                [commentType]='isFirstComment ? 1 : 2'
                [commentReq]='commentReq'
                [group]='selectGroup'
                [userId]='userid'
                [templateItemItemList]="templateItemItemList"></examination-assess-component>
              <!-- 表格表单混合模板 -->
          </ng-container>
          <ng-container *ngSwitchCase="2">
            <examination-assess-component 
                code="FORM_TABLE" 
                #examinationAssess 
                [tableAssessList]="complexTemplateList" 
                [tableList]="complexTemplateList" 
                [templateFormId]="formTableFormTemplateId"
                [assessPaper]='currentAssessPaper'
                [assess]='currentAssesst'
                [isComment]='true'
                [commentType]='isFirstComment ? 1 : 2'
                [commentReq]='commentReq'
                [group]='selectGroup'
                [userId]='userid'
                [templateItemItemList]="templateTableList"></examination-assess-component>
          <!-- 表格模板 -->
        </ng-container>

          <ng-container *ngSwitchCase="3">
            <examination-assess-component 
              code="TABLE" #examinationAssess 
              [tableAssessList]="templateItemItemList" 
              [tableList]="tableList" 
              [templateFormId]="curremtTemplateForm?.id"
              [assessPaper]='currentAssessPaper'
              [commentReq]='commentReq'
              [isComment]='true'
              [commentType]='isFirstComment ? 1 : 2'
              [assess]='currentAssesst'
              [group]='selectGroup'
              [userId]='userid'
              [templateItemItemList]="tableItemList"></examination-assess-component>
          </ng-container>
      </ng-container>
    <div class="step-button-box">
      <button type="button" nglButton="inverse" *ngIf="a !== 0" (click)="confirmGoToStep(a - 1)">上一题</button>
      <button type="button" nglButton="inverse" *ngIf="a + 1 !== assesslist.length" (click)="confirmGoToStep(a + 1)" class="mgr30">下一题</button>
      <button type="button" nglButton="inverse" *ngIf="a + 1 === assesslist.length" (click)="goToIndex()" class="mgr30">返回首页</button>
      
      <button type="button" nglButton="brand" (click)="setComment()">保存评分</button>
    </div>
  </wizard-step>
</wizard>
<alert #alert></alert>
<confirm (onConfirm)="onConfirm()" #confirm></confirm>
<spinner #spinner></spinner>
