<h1 class="content-title">考核初评</h1>
<div class="first-comment-paper">
    <table class="slds-table mgt30">
      <tr>
        <th>考题组</th>
        <th>考题总数</th>
        <th>已做总数</th>
        <th>未做总数</th>
        <th>初评得分</th>
        <th>操作</th>
      </tr>
      <tr *ngFor="let groupAnswer of groupAnswerItemList; let i = index">
        <td>{{groupAnswer.groupName}}</td>
        <td>{{groupAnswer.totalCount}}</td>
        <td>{{groupAnswer.doneCount}}</td>
        <td>{{groupAnswer.unstartedCount}}</td>
        <td>{{groupAnswer.unstartedCount}}</td>
        <td  *ngIf="paperStatus != 0"><font class="color-red" (click)="continueAnswer(groupAnswer)">查看试卷</font></td>
      </tr>
    </table>
    <pagination *ngIf="maxPage>1" [maxSize]="maxPage" [currentPage]="currentPage + 1" (pageChanged)="pageChanged($event)"></pagination>
</div>

<alert #alert></alert>
<confirm (onConfirm)="onConfirm()" #confirm></confirm>
<spinner #spinner></spinner>
