.operate-button {
    border: 1px solid #ccc;
    border-radius: 20px;
    display: inline-block;
    padding: 0px 10px;
    font-size: 12px;
    line-height: 24px;
    cursor: pointer;
	transition-duration: 200ms;
    i {
        padding-right: 4px;
    }
}

.operate-button.purple {
    border-color: #8E44AD;
    color: #8E44AD;
    background: 0 0;
    &:hover {
        border-color: #8E44AD;
        color: #fff;
        background-color: #8E44AD;
    }
}

.operate-button.red {
    border-color: #e7505a;
    color: #e7505a;
    background: 0 0;
    &:hover {
        border-color: #e7505a;
        color: #fff;
        background-color: #e7505a;
    }
}

.operate-button.primary {
    border-color: #3f51b5;
    color: #3f51b5;
    background: 0 0;
    &:hover {
        border-color: #3f51b5;
        color: #fff;
        background-color: #3f51b5;
    }
}

.operate-button.disable {
    border-color: #c1c1c1;
    color: #c1c1c1;
    background: 0 0;
    cursor: not-allowed;
    &:hover {
        border-color: #c1c1c1;
        color: #c1c1c1;
        background-color: #fff;
    }
}