
.width10 {
    width: 10%
}

.width20 {
    width: 20%
}

.width30 {
    width: 30%
}

.width40 {
    width: 40%
}

.width50 {
    width: 50%
}

.width60 {
    width: 60%
}

.width70 {
    width: 70%
}

.width80 {
    width: 80%
}

.width90 {
    width: 90%
}

.width100 {
    width: 100%
}

.width5 {
    width: 5%
}

.width15 {
    width: 15%
}

.width25 {
    width: 25%
}

.width35 {
    width: 35%
}

.width45 {
    width: 45%
}

.width55 {
    width: 55%
}

.width65 {
    width: 65%
}

.width75 {
    width: 75%
}

.width85 {
    width: 85%
}

.width95 {
    width: 95%
}

.full-width {
    width: 100%
}

.no-padding {
    padding: 0 !important;
}
.no-margin {
    margin: 0 !important;
}

.mgb50 {
    margin-bottom: 50px !important;
}

.mgb70 {
    margin-bottom: 70px !important;
}

.mgb100 {
    margin-bottom: 100px !important;
}

.mgb25 {
    margin-bottom: 25px !important;
}

.mgb30 {
    margin-bottom: 30px !important;
}

.mgb20 {
    margin-bottom: 20px !important;
}

.mgb15 {
    margin-bottom: 15px !important;
}

.mgb10 {
    margin-bottom: 10px !important;
}

.mgb5 {
    margin-bottom: 5px !important;
}

.mgr50 {
    margin-right: 50px !important;
}

.mgr70 {
    margin-right: 70px !important;
}

.mgr100 {
    margin-right: 100px !important;
}

.mgr25 {
    margin-right: 25px !important;
}

.mgr30 {
    margin-right: 30px !important;
}

.mgr20 {
    margin-right: 20px !important;
}

.mgr15 {
    margin-right: 15px !important;
}

.mgr10 {
    margin-right: 10px !important;
}

.mgr5 {
    margin-right: 5px !important;
}

.mgl50 {
    margin-left: 50px !important;
}

.mgl70 {
    margin-left: 70px !important;
}

.mgl100 {
    margin-left: 100px !important;
}

.mgl25 {
    margin-left: 25px !important;
}

.mgl30 {
    margin-left: 30px !important;
}

.mgl20 {
    margin-left: 20px !important;
}

.mgl15 {
    margin-left: 15px !important;
}

.mgl10 {
    margin-left: 10px !important;
}

.mgl5 {
    margin-left: 5px !important;
}

.mgt50 {
    margin-top: 50px !important;
}

.mgt70 {
    margin-top: 70px !important;
}

.mgt100 {
    margin-top: 100px !important;
}

.mgt25 {
    margin-top: 25px !important;
}

.mgt30 {
    margin-top: 30px !important;
}

.mgt20 {
    margin-top: 20px !important;
}

.mgt15 {
    margin-top: 15px !important;
}

.mgt10 {
    margin-top: 10px !important;
}

.mgt5 {
    margin-top: 5px !important;
}

.pdb50 {
    padding-bottom: 50px !important;
}

.pdb70 {
    padding-bottom: 70px !important;
}

.pdb100 {
    padding-bottom: 100px !important;
}

.pdb25 {
    padding-bottom: 25px !important;
}

.pdb30 {
    padding-bottom: 30px !important;
}

.pdb20 {
    padding-bottom: 20px !important;
}

.pdb15 {
    padding-bottom: 15px !important;
}

.pdb10 {
    padding-bottom: 10px !important;
}

.pdb5 {
    padding-bottom: 5px !important;
}

.pdr50 {
    padding-right: 50px !important;
}

.pdr70 {
    padding-right: 70px !important;
}

.pdr100 {
    padding-right: 100px !important;
}

.pdr25 {
    padding-right: 25px !important;
}

.pdr30 {
    padding-right: 30px !important;
}

.pdr20 {
    padding-right: 20px !important;
}

.pdr15 {
    padding-right: 15px !important;
}

.pdr10 {
    padding-right: 10px !important;
}

.pdr5 {
    padding-right: 5px !important;
}

.pdl50 {
    padding-left: 50px !important;
}

.pdl70 {
    padding-left: 70px !important;
}

.pdl100 {
    padding-left: 100px !important;
}

.pdl25 {
    padding-left: 25px !important;
}

.pdl30 {
    padding-left: 30px !important;
}

.pdl20 {
    padding-left: 20px !important;
}

.pdl15 {
    padding-left: 15px !important;
}

.pdl10 {
    padding-left: 10px !important;
}

.pdl5 {
    padding-left: 5px !important;
}

.pdt50 {
    padding-top: 50px !important;
}

.pdt70 {
    padding-top: 70px !important;
}

.pdt100 {
    padding-top: 100px !important;
}

.pdt25 {
    padding-top: 25px !important;
}

.pdt30 {
    padding-top: 30px !important;
}

.pdt20 {
    padding-top: 20px !important;
}

.pdt15 {
    padding-top: 15px !important;
}

.pdt10 {
    padding-top: 10px !important;
}

.pdt5 {
    padding-top: 5px !important;
}

.float-left {
    float: left !important;
}

.float-right {
    float: right !important;
}

.button-size140 {
    width: 140px;
    height: 40px;
}

.cursor-pointer {
    cursor: pointer;
}

.inline-block {
    display: inline-block !important;
    vertical-align: top;
}

.blank-tag {
    display: inline-block;
}

.text-align-left {
    text-align: left !important;
}
.text-align-right {
    text-align: right !important;
}
.text-align-center {
    text-align: center !important;
}

.ST-line-normal {
    line-height: 36px !important;
    height: 36px !important;
}

.ST-line-big {
    line-height: 44px !important;
    height: 44px !important;
}

.flex-box {
    display: flex;
}

.flex1 {
    flex:1;
}
.flex2 {
    flex:2;
}
.flex3 {
    flex:3;
}
.flex4 {
    flex:4;
}
.flex5 {
    flex:5;
}
.flex6 {
    flex:6;
}
.flex7 {
    flex:7;
}
.flex8 {
    flex:8;
}
.flex9 {
    flex:9;
}
.flex10 {
    flex:10;
}
.flex11 {
    flex:11;
}
.flex12 {
    flex:12;
}