.no-lable {
    .slds-form-element__label {
        display: none
    }
    margin-top: 0;
}

.left-lable {
    display: flex !important;
    margin-top: 1rem;
    .slds-form-element__label {
        width: 60px;
        height: 36px;
        margin-bottom: 0;
        line-height: 36px;
    }
    .slds-form-element__control {
        flex: 1;
    }
}
