
body {
    font-family: "微软雅黑", arial;
}

html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: true,Avenir,'Open Sans', sans-serif;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    td,th {
        vertical-align: middle;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 100
}

a {
    text-decoration: none;
    color: #337ab7;
    &:hover {
        color: #174f80;
        text-decoration: underline;
    }
}

.full-width {
    width: 100%
}

.mgb25 {
    margin-bottom: 25px !important;
}

.mgb30 {
    margin-bottom: 30px !important;
}

.mgb20 {
    margin-bottom: 20px !important;
}

.mgb15 {
    margin-bottom: 15px !important;
}

.mgb10 {
    margin-bottom: 10px !important;
}

.mgb5 {
    margin-bottom: 5px !important;
}

.mgr25 {
    margin-right: 25px !important;
}

.mgr30 {
    margin-right: 30px !important;
}

.mgr20 {
    margin-right: 20px !important;
}

.mgr15 {
    margin-right: 15px !important;
}

.mgr10 {
    margin-right: 10px !important;
}

.mgr5 {
    margin-right: 5px !important;
}

.mgl25 {
    margin-left: 25px !important;
}

.mgl30 {
    margin-left: 30px !important;
}

.mgl20 {
    margin-left: 20px !important;
}

.mgl15 {
    margin-left: 15px !important;
}

.mgl10 {
    margin-left: 10px !important;
}

.mgl5 {
    margin-left: 5px !important;
}

.mgt25 {
    margin-top: 25px !important;
}

.mgt30 {
    margin-top: 30px !important;
}

.mgt20 {
    margin-top: 20px !important;
}

.mgt15 {
    margin-top: 15px !important;
}

.mgt10 {
    margin-top: 10px !important;
}

.mgt5 {
    margin-top: 5px !important;
}

.pdb25 {
    padding-bottom: 25px !important;
}

.pdb30 {
    padding-bottom: 30px !important;
}

.pdb20 {
    padding-bottom: 20px !important;
}

.pdb15 {
    padding-bottom: 15px !important;
}

.pdb10 {
    padding-bottom: 10px !important;
}

.pdb5 {
    padding-bottom: 5px !important;
}

.pdr25 {
    padding-right: 25px !important;
}

.pdr30 {
    padding-right: 30px !important;
}

.pdr20 {
    padding-right: 20px !important;
}

.pdr15 {
    padding-right: 15px !important;
}

.pdr10 {
    padding-right: 10px !important;
}

.pdr5 {
    padding-right: 5px !important;
}

.pdl25 {
    padding-left: 25px !important;
}

.pdl30 {
    padding-left: 30px !important;
}

.pdl20 {
    padding-left: 20px !important;
}

.pdl15 {
    padding-left: 15px !important;
}

.pdl10 {
    padding-left: 10px !important;
}

.pdl5 {
    padding-left: 5px !important;
}

.pdt25 {
    padding-top: 25px !important;
}

.pdt30 {
    padding-top: 30px !important;
}

.pdt20 {
    padding-top: 20px !important;
}

.pdt15 {
    padding-top: 15px !important;
}

.pdt10 {
    padding-top: 10px !important;
}

.pdt5 {
    padding-top: 5px !important;
}

.float-left {
    float: left !important;
}

.float-right {
    float: right !important;
}

.button-size140 {
    width: 140px;
    height: 40px;
}

.cursor-pointer {
    cursor: pointer;
}

.blank-tag {
    display: inline-block;
}

.content-title {
    padding: 5px 0 4px 15px;
    font-size: 20px;
    border-left: 4px solid #E26A6A;
    margin-bottom: 30px;
}